<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to Blocipedia!</h1>
    <p class="lead text-muted">A place to create and edit wikis.</p>
    <hr class="my-4">
    <p>Check out the hype.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button">Hype Button</a>
    </p>
  </div>
</div>