<p><strong>Guidelines</strong> for wikis:</p>
<ul>
  <li>Provide a Title and a Body</li>
  <li>Feel free to use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> in your Body</li>
</ul>